#social-media {
    background-color: darkturquoise;
}
.media_link{
    padding: 1rem;
    max-width: 15rem;
    margin-left: 1rem;
    border: 2px solid rgb(106, 186, 134);
    border-radius: 0.5rem;
}